//
//  Production.xcconfig
//  STRV Project template
//
//  Created by Jan Kaltoun on 14/02/2019.
//  Copyright © 2019 STRV. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_NAME = BodyAura
APP_BUNDLE_IDENTIFIER = enterprise.com.strv.BodyAura

API_BASE_URL = https:/$()/ios-nights.herokuapp.com/
