<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>UIViewController Template</string>
	<key>Summary</key>
	<string>UIViewController Template</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>CustomNavigationController</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>navigationSuperClass</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Navigation Controller Superclass</string>
			<key>Description</key>
			<string>Superclass of the navigation controller</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>UINavigationController</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>navigationCoordinatorType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Coordinator Name</string>
			<key>Description</key>
			<string>Name of flow coordinator</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>NavigationCoordinator</string>
		</dict>
	</array>
</dict>
</plist>
